@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,900&display=swap');

a {
  text-decoration: underline;
  color: #1E1B2C;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-areas: "header header"
                       "content column";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 5fr;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TTHoves-Regular.woff2') format('woff2'),
    url('/fonts/TTHoves-Regular.woff') format('woff'),
    url('/fonts/TTHoves-Regular.ttf') format('truetype'),
    url('/fonts/TTHoves-Regular.eot') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TTHoves-SemiBold.woff2') format('woff2'),
    url('/fonts/TTHoves-SemiBold.woff') format('woff'),
    url('/fonts/TTHoves-SemiBold.ttf') format('truetype'),
    url('/fonts/TTHoves-SemiBold.eot') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
