* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  font-display: swap;
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s, color 0.2s;
  cursor: crosshair;
}

html, body {
  height: 100%;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: var(--accent);
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: color 0.15s;
}

a:hover {
  color: var(--accent-light);
}

a:visited {
  color: var(--accent-dark);
  border-color: var(--accent-dark);
}