:root {
  --dark-text: #383838;
  --dark-border: #383838;
  --light-text: #fff;
  --light-border: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
