.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-top: 2rem;
}

.light {
  color: var(--light-text);
}

.dark {
  color: var(--dark-text);
}

.light a:hover {
  border-bottom: 2px solid var(--light-border);
}

.dark a:hover {
  border-bottom: 2px solid var(--dark-border);
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
      max-width: unset;
      padding: 0 3rem;
  }
}