.title {
  color: var(--dark-text);
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  padding-top: 0;
  margin-top: 0;
}


.text p {
  font-size: 1rem;
  line-height: 1.5;
}

.grid {
  color: var(--dark-text);
  height: 100%;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

@media (max-width: 991px) {
  .grid {
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
  }
}

.about {
  height: 100%;
  grid-area: content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  margin-top: 15vh;
  margin-bottom: 20vh;
}

@media (max-width: 991px) {
  .about {
    margin: 15vh 2rem;
  }
}

.text {
  color: var(--dark-text);
  width: 500px;
  height: 300px
}

@media (max-width: 991px) {
  .text {
    width: 100%;
    height: auto
  }
}

.header {
  grid-area: header;
  position: relative;
  padding: 0 3rem;
}

.footer {
  grid-area: footer;
  padding: 0 3rem;
}

.link {
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #603bca54;
  z-index: -10;
  transition: all .1s linear
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
}

.link:hover:after {
  height: 0;
}